CLIENT_DATABASE_URI=mysql://mysql_user:mysql_password@mysql:3306/hono-poc?charset=utf8mb4&connectionLimit=1
CLIENT_ELASTICSEARCH_NODE=http://elasticsearch:9200
CLIENT_REDIS_URL=redis://redis:6379

SENTRY_AUTH_TOKEN=
SENTRY_BAGGAGE=
SENTRY_BUILD_PRESERVE_MODULES=
SENTRY_DEBUG=true
SENTRY_DSN=
SENTRY_ENVIRONMENT=production
SENTRY_IGNORE_API_RESOLUTION_ERROR=
SENTRY_NAME=
SENTRY_ORG=
SENTRY_PRELOAD_INTEGRATIONS=
SENTRY_PROFILER_LOGGING_MODE=lazy
# SENTRY_PROFILES_SAMPLE_RATE=1.0
SENTRY_PROJECT=hono-poc
SENTRY_RELEASE=0.0.0
SENTRY_SPOTLIGHT=
SENTRY_SUPPRESS_GLOBAL_ERROR_HANDLER_FILE_WARNING=
SENTRY_SUPPRESS_TURBOPACK_WARNING=
SENTRY_TRACE=
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_USE_ENVIRONMENT=

SERVER_AUTH_APP_NAME="Hono POC"
SERVER_AUTH_BASE_URL=http://localhost:8081
SERVER_AUTH_SECRET=hono-poc-12345678901234567890-!@
SERVER_FEATURE_FLAG_USER_POC_FULLNAME=0
SERVER_SERVER_PORT=8081
