@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  exclude:;
  include:;
  logs: true;
  prefix:;
  root: ":root";
  themes:
    light --default,
    dark --prefersdark;
}

@theme {
  /* Your theme styles go here */
  --animate-float: float 3s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}

a.active {
  color: red;
}

a.pending {
  /* animate: pulse 1s infinite; */
}

a.transitioning {
}

/* Layout styles for the image grid */
.image-list > div {
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(500px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-500px);
  }
}

.content {
  view-transition-name: content;
}

::view-transition-old(content) {
  animation:
    500ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(content) {
  animation:
    500ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.image-list h1 {
  font-size: 2rem;
  font-weight: 600;
}

.image-list img {
  contain: layout;
  max-width: 100%;
}

.image-list p {
  width: fit-content;
}

.image-list a.transitioning img {
  view-transition-name: image-expand;
}

.image-list a.transitioning p {
  view-transition-name: image-title;
}

.image-detail h1 {
  font-size: 2rem;
  font-weight: 600;
  view-transition-name: image-title;
  width: fit-content;
}

.image-detail img {
  contain: layout;
  max-width: 100%;
  view-transition-name: image-expand;
}
